@import 'color_variables';
@import 'navbar_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $alt-color;
}

main {
  min-height: calc(100vh - $header-height - 1rem);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

// *** AUTH FORMS *** //

// Image:

// Map:


.scaled {
  transform: scale(0);
}

// *** CART *** //



// *** FOOTER *** //



@import './components/authenticationForms';
@import './components/header';
@import './components/burgerBtn';
@import './components/nav';
@import './components/image';
@import './components/map';
@import './components/landingsList';
@import './components/shoppingCart';
@import './components/footer';
@import './components/iconNav';

@media (min-width: 750px) {

  header > h1 {
    width: fit-content;
    height: $header-height;
    margin-left: calc($desktop-icon-nav-width + 1rem);
    text-align: center;
    
    line-height: $header-height;
    font-size: 3.5rem;
    font-weight: 200;

    transition: transform 0.25s ease-in-out;
  }
  header > h1 > span {
    font-size: 3rem;
  }

  main {
    margin-left: $desktop-icon-nav-width;
  }
  .full {
    margin-left: 0;
  }

  // *** NAV *** //

  .hidden {
    transform: none;
  }

  .create-nea-form > div > label {
    font-size: medium;
  }
  .create-nea-form > div > input {
    height: 1.25rem;
  }
}

.success-message {
  margin: 0 auto;
}
.success-message > p {
  color: $accent-color;
  text-align: center;
}
.error-message {
  margin: 0 auto;
}
.error-message > p {
  color: red;
  text-align: center;
}

// *** SPINNER *** //

.loading {
  display: block;
  width: fit-content;
  margin: 20vh auto 0 auto;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $accent-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $accent-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
